py~=1.11.0
colorama~=0.4.6
pip~=23.2.1
attrs~=23.1.0
mypy~=1.4.1
filelock~=3.12.2
tomli~=2.0.1
toml~=0.10.2
PyYAML~=6.0.1
black~=23.7.0
platformdirs~=3.10.0
packaging~=23.1
pathspec~=0.11.2
click~=8.1.6
isort~=5.12.0
identify~=2.5.26
setuptools~=59.6.0
flake8~=6.1.0
pyflakes~=3.1.0
pycodestyle~=2.11.0
cfgv~=3.3.1
virtualenv~=20.24.2
distlib~=0.3.7
interrogate~=1.5.0
tabulate~=0.9.0