asgiref==3.7.2
attrs==23.1.0
black==23.7.0
certifi==2023.7.22
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.12.2
flake8==6.1.0
httpie==3.2.2
identify==2.5.26
idna==3.4
interrogate==1.5.0
isort==5.12.0
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
multidict==6.0.4
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pre-commit==3.3.3
psycopg2-binary==2.9.7
py==1.11.0
pycodestyle==2.11.0
pyflakes==3.1.0
Pygments==2.16.1
PyJWT==2.8.0
PySocks==1.7.1
python-decouple==3.8
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.5.2
sqlparse==0.4.4
tabulate==0.9.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
virtualenv==20.24.2
